# Build output
build/
out/
cmake-build-*/
x64/
x86/
Debug/
Release/
*.obj
*.o
*.exe
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.recipe
*.lastbuildstate

# Visual Studio
.vs/
*.user
*.suo
*.vcxproj.user

# Runtime-generated data
/library_data.txt
